:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --background-content: rgba(0, 0, 0, 0.3);
  --white-content: #f3f3f3;
  --border-color: #ddd;
  --nav-background: rgba(255, 255, 255, 0.95);
  --icons-grey: #b9b9b9;
  --mobile-nav: #e6e6e9;
}
.navigation-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  top: 0;
  z-index: 12;
  transition: 1s;
  position: sticky;
  width: 100%;
  .flex-override-nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    div {
      height: 100%;
      border-color: var(--border-color);
      border-left-style: solid;
    }
  }
  &:hover {
    .mobile-nav {
      .hamburger {
        .burger-line {
          background-color: white;
        }
      }
    }
  }
}
.blueTheme {
  background-color: var(--white-content);
  &:hover {
    background-color: var(--color-primary);
    .nav-wrap {
      background-color: var(--color-primary);
    }
    .indHover {
      color: var(--border-color);
    }
    div {
      .indHover {
        &:hover {
          color: var(--white-content);
        }
      }
    }
    .mobile-nav {
      background-color: var(--color-primary);
    }
  }
}
.goldTheme {
  background-color: var(--white-content);
  &:hover {
    background-color: var(--color-secondary);
    .indHover {
      color: var(--border-color);
    }
    div {
      .indHover {
        &:hover {
          color: var(--white-content);
        }
      }
    }
    .mobile-nav {
      background-color: var(--color-secondary);
    }
  }
}

.pinkTheme {
  background-color: var(--white-content);

  &:hover {
    background-color: darkorchid;
    .indHover {
      color: var(--border-color);
    }
    div {
      .indHover {
        &:hover {
          color: var(--white-content);
        }
      }
    }
    .mobile-nav {
      background-color: darkorchid;
    }
  }
}

.initial {
  background-color: var(--white-content);
  &:hover {
    background-color: var(--color-tertiary);
    .indHover {
      color: var(--border-color);
    }
    div {
      .indHover {
        &:hover {
          color: var(--white-content);
        }
      }
    }
    .mobile-nav {
      background-color: var(--color-tertiary);
    }
  }
}

.layout-link-initial {
  color: var(--color-tertiary-darker);
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}
.layout-link-blueTheme {
  color: var(--color-primary-darker);
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}
.layout-link-goldTheme {
  color: var(--color-secondary-darker);
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}
.layout-link-pinkTheme {
  color: darkorchid;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}

.flex-sidebar-override {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hamburger-sidebar {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-size: 15px;
  background-color: #b9b9b92d;
  position: fixed;
  top: 40px;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 7;
  transition: all 0.2s ease-in;
  backdrop-filter: blur(5px);
  .indHover {
    margin: 20px;
  }
}
.initial-sidebar {
  background-color: #ff586044;
}
.blue-sidebar {
  background-color: #39b38460;
}
.gold-sidebar {
  background-color: #ffcd0379;
}
.pink-sidebar {
  background-color: #9932cc33;
}
.hidden-sidebar {
  top: -300px;
  overflow: hidden;
}

.hamburger {
  border: 0;
  cursor: pointer;
  height: 30px;
  width: 20px;
  z-index: 8;
  background-color: transparent;
  margin: 5px;

  .burger-line {
    background-color: black;
    display: block;
    margin: 5px 0;
    height: 2px;
    width: 20px;
    transition: all 0.1s ease-in;
  }
}
.mobile-nav {
  z-index: 12;
  transition: 1s;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  background: var(--white-content);
}
.open {
  .burger-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .burger-line:nth-child(2) {
    opacity: 0;
  }
  .burger-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
.dropdown-content {
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(5px);
  width: 44px;
  position: absolute;
  left: 50%;
  top: calc(100%);
  transform: translateX(-50%);
  z-index: 6;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  pointer-events: all;
  transition: all 0.4s ease-in;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  button {
    border: none;
    border-radius: 50%;
    margin: 5px 0;
    text-decoration: none;
    display: block;
    height: 20px;
    width: 20px;
    z-index: 7;
    box-shadow: var(--mobile-nav) 0px 0px 0px 1px inset,
      var(--nav-background) 0px 0px 0px 1px;
  }
}

.not-visible {
  overflow: hidden;
  opacity: 0;
  display: none;
}

.theme-chooser {
  margin-right: 20px;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 12;
  border-radius: 50%;

  .theme-button {
    z-index: 11;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }
}
.initial-b {
  background-color: var(--color-tertiary);
  box-shadow: var(--mobile-nav) 0px 0px 0px 1px inset,
    var(--nav-background) 0px 0px 0px 1px;
  &:hover {
    background-color: var(--color-tertiary-darker);
  }
}
.blueTheme-b {
  background-color: var(--color-primary);
  box-shadow: var(--mobile-nav) 0px 0px 0px 1px inset,
    var(--nav-background) 0px 0px 0px 1px;
  &:hover {
    background-color: var(--color-primary-darker);
  }
}
.goldTheme-b {
  background-color: var(--color-secondary);
  box-shadow: var(--mobile-nav) 0px 0px 0px 1px inset,
    var(--nav-background) 0px 0px 0px 1px;
  &:hover {
    background-color: var(--color-secondary-darker);
  }
}
.pinkTheme-b {
  background-color: darkorchid;
  box-shadow: var(--mobile-nav) 0px 0px 0px 1px inset,
    var(--nav-background) 0px 0px 0px 1px;

  &:hover {
    background-color: darkorchid;
  }
}
.initial-btn {
  background-color: var(--color-tertiary);
  &:hover {
    background-color: var(--color-tertiary-darker);
  }
}
.blue {
  background-color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary-darker);
  }
}
.gold {
  background-color: var(--color-secondary);
  &:hover {
    background-color: var(--color-secondary-darker);
  }
}
.pink {
  background-color: darkorchid;
  &:hover {
    background-color: darkorchid;
  }
}

*:disabled {
  pointer-events: none;
}

.hidden {
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .big-screen {
    display: none;
  }
  .navigation-bar-container {
    height: 40px;
  }
}
//hamburger
@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
  .hamburger-sidebar {
    display: none;
  }
  .nav-display-override {
    display: none;
  }
  .navigation-bar-container {
    height: 60px;
  }
}
