:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --background-content: rgba(0, 0, 0, 0.3);
  --white-content: #f3f3f3;
  --border-color: #ddd;
  --nav-background: rgba(255, 255, 255, 0.95);
  --icons-grey: #b9b9b9;
}
.header-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  text-align: center;
  margin: 100px 0;

  font-size: 85px;
  font-weight: 100;
  max-width: 60%;
}
.introduction {
  text-align: center;
  margin: 10px;
  font-size: larger;
  font-size: 30px;
}
.header-photo {
  width: 400px;
}

@media screen and (max-width: 700px) {
  .greeting {
    max-width: 80%;
  }
}
.--next-button {
  cursor: pointer;
  background: white;
  border: var(--white-content);
  font-weight: 600;
  font-size: 20px;
  z-index: 2;
  margin: 50px;
  height: 60px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
  transition: 300ms;

  &:hover {
    background: var(--icons-grey);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .--next-button-link {
      color: white;
    }
  }
  .--next-button-link {
    text-decoration: none;
    color: var(--icons-grey);
    padding: 20px 10px;
  }
}

.initial-intro {
  color: var(--color-tertiary-darker);
}

.blue-intro {
  color: var(--color-primary-darker);
}
.gold-intro {
  color: var(--color-secondary-darker);
}
.pink-intro {
  color: darkorchid;
}
