:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --background-content: rgba(0, 0, 0, 0.3);
  --white-content: #f3f3f3;
  --border-color: #ddd;
  --nav-background: rgba(255, 255, 255, 0.95);
  --icons-grey: #b9b9b9;
}
.w-100 {
  height: 90vh;
}

.background-class {
  background-color: var(--background-content);
  border-radius: 10px;
}
.carouselImage {
  object-fit: cover;
}
.--btn {
  cursor: pointer;
  color: var(--white-content);
  background: var(--color-tertiary);
  border: var(--white-content);
  size: 30px;
  font-weight: 600;
  z-index: 2;
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
  transition: 300ms;

  .-btn-link {
    color: var(--white-content);
    text-decoration: none;
  }
}
.initial-btn-car {
  background-color: var(--color-tertiary);

  &:hover {
    background: var(--white-content);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .-btn-link {
      color: var(--color-tertiary);
    }
  }
}
.blue-btn {
  background-color: var(--color-primary);

  &:hover {
    background: var(--white-content);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .-btn-link {
      color: var(--color-primary-darker);
    }
  }
}
.gold-btn {
  background-color: var(--color-secondary);

  &:hover {
    background: var(--white-content);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .-btn-link {
      color: var(--color-secondary-darker);
    }
  }
}
.pink-btn {
  background-color: darkorchid;

  &:hover {
    background: var(--white-content);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .-btn-link {
      color: darkorchid;
    }
  }
}

.background-class {
  h5 {
    font-size: xx-large;
  }
  p {
    font-size: large;
  }
}
