:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --background-content: rgba(0, 0, 0, 0.3);
  --white-content: #f3f3f3;
  --border-color: #ddd;
  --nav-background: rgba(255, 255, 255, 0.95);
  --icons-grey: #b9b9b9;
}
.carrousel-container {
  width: 100%;
  height: 90vh;
  position: relative;

  & > * {
    color: var(--white-content);
  }
}
.carrousel {
  overflow: hidden;
  height: 100%;
}
.content {
  visibility: hidden;
  position: absolute;
  left: 5rem;
  opacity: 1;
  width: 50%;
  padding: 3rem;
  background: var(--background-content);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: 5;
  top: 50%;
  transform: translateY(0);
}

.--btn {
  cursor: pointer;
  color: var(--white-content);
  background: var(--color-tertiary);
  border: var(--white-content);
  size: 30px;
  font-weight: 600;
  z-index: 2;
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
  transition: 300ms;

  &:hover {
    background: var(--white-content);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.342);
    .-btn-link {
      color: var(--color-tertiary);
    }
  }
  .-btn-link {
    color: var(--white-content);
    text-decoration: none;
  }
}

.inner {
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  transition: transform 0.3s;
  height: 550px;
  hr {
    height: 2px;
    background: var(--white-content);
    width: 50%;
  }
}
.carrousel-item {
  height: fit-content;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.arrows-container {
  .arrow {
    user-select: none;
    border: 2px solid var(--white-content);
    border-radius: 50%;
    background-color: transparent;
    color: var(--white-content);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    transition: 300ms;
    &:hover {
      background: var(--white-content);
      color: #777;
    }
  }
  .next {
    right: 1.5rem;
  }
  .prev {
    left: 1.5rem;
  }
}
.indicators {
  overflow-y: hidden;
  font-size: 70px;
  position: absolute;
  user-select: none;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 4;
  color: var(--icons-grey);
  cursor: pointer;
  .active {
    color: var(--white-content);
    opacity: 1;
  }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  }
}

img {
  @media (min-width: 500px) {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  .carousel-item {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .carrousel {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .carrousel-container {
    width: 80%;
  }
}
.-welcome {
  animation: slide-up-welcome 2s ease 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-up-welcome {
  0% {
    visibility: hidden;
    top: 80rem;
  }
  2% {
    visibility: hidden;
    top: 80rem;
  }

  100% {
    visibility: visible;
    top: 12rem;
  }
}

.-my-resume {
  animation: slide-up 2s ease 0.5s;
  animation-fill-mode: forwards;
}

.-my-projects {
  animation: slide-up 2s ease 0.5s;
  animation-fill-mode: forwards;
}

.-my-contacts {
  animation: slide-up 2s ease 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-up {
  0% {
    visibility: hidden;
    top: 40rem;
  }
  2% {
    visibility: hidden;
    top: 40rem;
  }

  100% {
    visibility: visible;
    top: 12rem;
  }
}
