:root {
  --chinese-silver: #cccccc;
  --dark-charcoal: #333333;
  --background-content-project: rgba(0, 0, 0, 0.7);
}

.p-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;

  .p-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 398px;
    height: 400px;
    width: 300px;
    border: solid var(--white-content) 1px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--chinese-silver);

    img {
      height: fit-content;

      width: 100%;
      cursor: pointer;
    }
    p {
      text-align: center;
      margin: 0 2px;
    }
    .button-link-projects {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 20px;
    }
    button {
      border: none;
      width: 150px;
      height: 60px;
      border-radius: 5px;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
}

// @media screen and (max-width: 800px) {
//   .p-card-container {
//     .bankist-app {
//       p {
//         font-size: 13px;
//       }
//     }
//   }
// }
