:root {
  --chinese-silver: #f8f8f8;
  --dark-charcoal: #333333;
  --background-content-project: rgba(0, 0, 0, 0.7);
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --background-content: rgba(0, 0, 0, 0.3);
  --white-content: #f3f3f3;
  --border-color: #ddd;
  --nav-background: rgba(255, 255, 255, 0.95);
  --icons-grey: #b9b9b9;
  --mobile-nav: #e6e6e9;
}

.p-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;

  .p-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 398px;
    height: 400px;
    width: 300px;
    border: solid var(--white-content) 1px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--chinese-silver);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .buttons-project-container {
      display: flex;
      align-items: center;
      .link-to-git {
        transition: 2s;
        box-shadow: none;
        margin-left: 20px;
        display: inline-block;
        transform: translateY(-50%);
        .github-logo-img {
          transition: 2s;
          height: 35px;
          width: 35px;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
          }
        }
      }
      .button-link-projects {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 25px;
        button {
          border: none;
          width: 150px;
          height: 60px;
          border-radius: 5px;
          transition: 1s;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          }
          &:active {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
              rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          }
        }
      }
    }

    .website-image {
      height: fit-content;
      width: 100%;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    p {
      text-align: left;
      margin: 0 10px;
    }
  }
}
.initial-btn-p {
  background-color: #f8a6aa;
  &:hover {
    background-color: var(--color-tertiary);
    color: white;
  }
}
.blueTheme-btn-p {
  background-color: #90d6bb;
  &:hover {
    background-color: var(--color-primary);
    color: white;
  }
}
.goldTheme-btn-p {
  background-color: #e9c77e;
  &:hover {
    background-color: var(--color-secondary);
    color: black;
  }
}
.pinkTheme-btn-p {
  background-color: rgb(182, 141, 204);
  &:hover {
    background-color: darkorchid;
    color: white;
  }
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// @media screen and (max-width: 800px) {
//   .p-card-container {
//     .bankist-app {
//       p {
//         font-size: 13px;
//       }
//     }
//   }
// }
