:root {
  --chinese-silver: #cccccc;
  --dark-charcoal: #333333;
  --background-content-project: rgba(0, 0, 0, 0.7);
}

.p-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;

  .p-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 398px;
    height: 400px;
    width: 300px;
    border: solid var(--white-content) 1px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--chinese-silver);

    img {
      height: fit-content;

      width: 100%;
      cursor: pointer;
    }
    p {
      text-align: center;
      margin: 0 2px;
    }
    a {
      text-decoration: none;
    }
    button {
      border: none;
      margin-bottom: 10px;
      width: calc(50%);
      height: 60px;
      border-radius: 5px;
    }
  }
}
